<script>
  $(document).tooltip({
    content: function () {
      return $(this).attr('title');
    }
  });
  $(window).load(function () {
    <% if @my_current_issue && @show_current %>
    var curr_out = '<div style="float:left; margin-right:8px;"><%= l(:info_current_issue) %>: ' +
      '<%= link_to "##{@my_current_issue.id}", issue_path(@my_current_issue), title: "<b>#{l(:field_subject)}:</b><br>#{@my_current_issue.subject.truncate(20)}<br><b> #{l(:info_time_spend)}:</b><br>" +
        "#{((Time.now - HamsterIssue.my.first.try(:start_at)) / 60).round } min." %></div>';
    $('#loggedas').append(curr_out);
    <% end %>
  });
</script>
